html,
body {
  font-size: 18px;
  line-height: 1.45;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-top: 1rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #435;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #213;
  line-height: 1.125;
  margin-top: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 87.5%;
  margin-top: 0.5rem;
}
